.root {
  width: 100%;
  height: 120vh;
  background-image: url("images/background-img.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftsection {
  width: 61%;
  background-color: white;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftsection_steps {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  font-weight: bold;
}
.rightsection {
  width: 33%;
  background-color: #5a00f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightsection_title {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin-top: -4px;
  font-size: 31px;
}

.rightsection_paragraph {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  line-height: 20pt;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 60px;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 50px;
  /*margin: 20px 0;*/
  margin-top: 30px;
}
.box .input {
  width: 100%;
  margin: 0;
  padding: 20px 0px 20px 20px;
  border: 1px;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 4px;
}
.box .select {
  width: 105.4%;
  margin: 0;
  padding: 20px;
  border: 1px;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 4px;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}
.Selectlabel {
  position: absolute;
  left: 10px;
  color: rgb(146, 146, 146);
}
.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  position: absolute;
  top: -13px;
  left: 10px;
  color: rgb(146, 146, 146);
  background-color: white;
}

.selectLabelfocus {
  position: absolute;
  top: -13px;
  left: 10px;
  color: rgb(146, 146, 146);
  background-color: white;
}
.label {
  position: absolute;
  left: 10px;
  color: rgb(146, 146, 146);
}

.testa {
  position: fixed;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 12px;
}
.list li {
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 100%;
  margin: auto 4px;
  width: 44px;
  height: 44px;
  position: relative;
  transition: opacity 4s ease-out;
}
.list li span {
  display: none;
}
.list li:hover {
  opacity: 1;
  cursor: pointer;
  width: 140px;
  border-radius: 100px;
  justify-content: space-around;
}
.list li:hover span {
  display: inline;
  width: 95px;
  font-size: 12px;
}
.list img {
  width: 19px;
  height: 18px;
}
.notification {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
  top: 0;
  right: 0;
}
.logo {
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 100px;
  margin-left: 14px;
  padding: 0 14px;
  width: 140px;
  height: 44px;
  font-size: 12px;
  transition: opacity 4s ease-out;
}
.logo img {
  width: 19px;
  height: 18px;
}
.logo:hover {
  opacity: 1;
  cursor: pointer;
}
.link {
  color: #286efa;
  font-weight: bold;
}

.title {
  font-weight: bold;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
}
.subtitle {
  font-size: 14px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.boxError {
  color: #f44336;
  margin-left: 14px;
  margin-top: 8px;
  font-size: 0.75rem;
  width: 100%;
}

.btn {
  padding: 20px;
  height: 60px;
  min-height: 0;
  min-width: 0;
  background-color: rgb(40, 110, 250);
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  width: 105%;
}

.terms {
  font-size: 11.5px;
}

.showHidePassword {
  position: absolute;
  right: 10px;
}
@media only screen and (max-width: 1200px) {
  .leftsection{
    width: 90%;
  }
  .rightsection{
    display: none;
  }
  .testa{
    bottom: 10px;
    align-items: flex-end;
  }
  .form {
    width: 60%;
  }
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-end;
    margin-right: 12px;
    
  }
  .list li {
    margin-top:  7px;
    border-color: rgb(40, 110, 250);
  }
  .logo{
    align-self:flex-end;
    opacity: 0.9;
    border-color: rgb(40, 110, 250);
  }
}