.root {
  width: 100%;
  height: 120vh;
  background-image: url("images/background-img.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftsection {
  width: 61%;
  background-color: white;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftsection_steps {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  font-weight: bold;
}
.rightsection {
  width: 33%;
  background-color: #5a00f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightsection_title {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin-top: -4px;
  font-size: 31px;
}

.rightsection_paragraph {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  line-height: 20pt;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 60px;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 30px;
  margin: 20px 0;
}
.form_group input,
select {
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  border: 1px;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 4px;
}
.form_group .form_label {
  position: absolute;
  top: 3px;
  left: 10px;
  color: rgb(146, 146, 146);
}

.form_group:active .form_label {
  position: absolute;
  top: -34px;
  left: 10px;
  color: rgb(146, 146, 146);
}
input:focus + .form_label, input:valid + .form_label {
  position: absolute;
  top: -34px;
  left: 10px;
  color: rgb(146, 146, 146);
}
